/*!
* DevExtreme
* Version: 17.1.7
* Build date: Sep 29, 2017
*
*/



.btn-primary {
  color: #fff;
  background-color: #2a2a2a;
  border-color: #4d4d4d;
}
.btn-primary:hover {
  color: #fff;
  background-color: #4d4d4d;
  border-color: #2a2a2a;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #2a2a2a;
}
/**  STYLE 8 */
::-webkit-scrollbar-track {
  background-color: #2a2a2a;
}
::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}
input[type="radio"]:before, .radio input[type="radio"]:before, .radio-inline input[type="radio"]:before {
  left: 12px !important;
  top: 2px !important;
}
.form-control {
  font-family: IRANSans !important;
  border: 1px solid #2a2a2a !important;
  text-indent: 24px !important;
  text-align: right;
  padding-right: 10px !important;
  margin-bottom: 10px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}
.input-group-addon {
  background: #2a2a2a;
  padding-top: 5px !important;
  height: 42px;
  margin-left: 0;
  border: none;
  -webkit-border-top-right-radius: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  -moz-border-radius-topright: 4px !important;
  -moz-border-radius-bottomright: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 10px !important;
}
.alert-dismissible .close {
  top: -1rem;
}
.close {
  font-size: 24px;
}
.badge {
  margin-right: 10px;
}
.breadcrumb-item {
  float: right;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle), .input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child), .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.card-img-top, .card-img-bottom, .card-img {
  width: 100%;
}
.card-img-overlay {
  background: rgba(0, 0, 0, 0.4);
}
a.card-link {
  margin-left: 10px;
}
.card .list-group {
  padding-right: 0;
}
@media (min-width: 576px) {
  .card-group .card:first-child .card-img-top {
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
  }
  .card-group .card:last-child .card-img-top {
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 4px !important;
    -moz-border-radius-topleft: 4px !important;
    border-top-left-radius: 4px !important;
  }
  .card-group .card + .card {
    border-left: 1px solid #2a2a2a;
  }
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 600px;
}
.d-block {
  display: block !important;
  max-height: 600px;
  width: 100%;
  max-width: 100%;
}
select, select.form-control {
  background-position: 1% 50%;
}
input[type="radio"]:before, .radio input[type="radio"]:before, .radio-inline input[type="radio"]:before {
  right: 4px !important;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"] {
  vertical-align: middle;
}
.form-check-input {
  margin-left: 0.25rem;
}
input[type="checkbox"]:checked:before, .checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before {
  top: 5px !important;
  right: 11px;
}
.form-inline input[type="checkbox"]:checked:before, .checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before {
  top: 2px !important;
}
.form-inline .btn.btn-primary {
  margin-right: 10px;
}
@media (min-width: 576px) {
  .form-inline .form-check-input {
    margin-top: -5px;
  }
  .form-inline .form-check-label {
    margin-top: -12px;
  }
}
.custom-checkbox .custom-control-indicator {
  margin-left: 8px;
}
@media (min-width: 576px) {
  .form-inline .custom-control-indicator {
    margin-left: 8px;
  }
}
.dx-menu.dx-rtl .dx-menu-item-has-icon.dx-menu-item-has-submenu .dx-icon {
  margin: 0 3px 0 0px !important;
}
.dx-menu-base .dx-menu-item-content {
  padding: 5px !important;
}
.dx-accordion-item-title {
  background: #1976d2 !important;
  color: #2a2a2a !important;
}
.dx-accordion-item-title:before {
  color: #2a2a2a !important;
}
.breadcrumb-item + .breadcrumb-item:before {
  color: #2a2a2a;
}
.breadcrumb-item {
  color: #2a2a2a;
}
.breadcrumb-item:hover, .breadcrumb-item:visited {
  color: #9ec2e3;
  text-decoration: none;
}
.breadcrumb-item:active, .breadcrumb-item:focus {
  color: #b5d4a7;
  text-decoration: none;
}
tr.dx-row.dx-column-lines.dx-header-row {
  background: #2196f3;
  color: #2a2a2a;
}
.dx-datagrid .dx-column-indicators::after, .dx-datagrid .dx-column-indicators::before {
  color: #2a2a2a;
}
textarea, textarea.form-control, input.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], [type="text"].form-control, [type="password"].form-control, [type="email"].form-control, [type="tel"].form-control, [contenteditable].form-control {
  -webkit-box-shadow: inset 0 -1px 0 transparent;
  box-shadow: inset 0 -1px 0 transparent;
}
.dx-texteditor {
  background: #2a2a2a;
  border: 1px solid;
  border-color: #424242 !important;
  border-radius: 0px !important;
  /*.dx-texteditor-input {
   padding: 0 5px !important;
   }*/
}
.dx-texteditor.dx-state-hover {
  border-color: #2196f3 !important;
}
.dx-rtl .dx-toolbar .dx-toolbar-item {
  padding: 0 5px 0 0px !important;
}
.dx-datagrid {
  color: #fff !important;
  background-color: #4d4d4d !important;
}
.dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) {
  background-color: #2196f3 !important;
  color: #fff !important;
}

table.dx-datagrid-table tr.dx-state-hover td{
  background: #2196f3 !important;
  color: #fff;
}
table.dx-datagrid-table tr.dx-selection td{
  background: rgba(189, 249, 221, 0.82) !important;
  color: #444 !important;
}
table.dx-datagrid-table tr:nth-child(odd) td{
  background-color: #4d4d4d ;
  color: #fff ;
}
table.dx-datagrid-table tr:nth-child(even) td{
  background-color: #353535 ;
  color: #fff ;
}


.dx-datagrid .dx-header-filter-empty {
  color: rgba(255, 255, 255, 0.5) !important;
}
input[type="text"][readonly] {
  background: rgb(172, 172, 172);
}
.dx-dropdowneditor-input-wrapper .dx-texteditor-container input {
  background: #fff;
}
td.dx-cell-focus-disabled.dx-master-detail-cell.internal-grid-container {
  padding: 15px 0px !important;
}
.dx-datagrid-checkbox-size .dx-checkbox-icon {
  margin: 8px 0 0 0 !important;
}
.dx-datagrid-total-footer.dx-datagrid-nowrap {
  background: #aaa !important;
}
.dx-datagrid .dx-menu .dx-menu-item .dx-menu-item-content {
  background: #2a2a2a !important;
  padding: 4px 5px 2px 0px !important;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  float: right;
}
.dx-checkbox.dx-state-readonly .dx-checkbox-icon {
  border-color: #dfdfdf !important;
}

.dx-overlay-wrapper {
  font-family: IranSans !important;
}
.dx-popup-title .dx-closebutton .dx-icon {
  color: #fff !important;
}
.popupFooterControl {
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100%;
  background: #2a2a2a;
  color: #fff;
  z-index: 99;
  padding: 10px 15px;
}
.dx-overlay-content .dx-popup-content > .dx-template-wrapper {
  position: relative !important;
}
*[dir="rtl"] .metismenu .has-arrow::after {
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
}
.dx-rtl .dx-treelist-select-all .dx-checkbox {
  padding-right: 0 !important;
}
.dx-rtl .dx-dropdowneditor-button-visible .dx-texteditor-input, .dx-rtl.dx-dropdowneditor-button-visible .dx-texteditor-input {
  font-family: IRANSans;
}
.dx-rtl .dx-searchbox .dx-texteditor-input, .dx-rtl .dx-searchbox .dx-placeholder:before, .dx-rtl.dx-searchbox .dx-texteditor-input, .dx-rtl.dx-searchbox .dx-placeholder:before {
  padding-right: 34px !important;
}
.dx-dropdownlist-popup-wrapper .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item-content {
  font-family: IRANSans;
}
.dx-label-box-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 34px;
  line-height: 30px;
}
.dx-label-box-container .dx-labelbox-span {
  margin: 0;
  padding: 7px 9px 8px;
  background: #2a2a2a;
  color: #fff;
  font-size: 1em;
  border-radius: 4px;
  min-height: 34px;
}
.checkboxContainer {
  padding: 6px !important;
}
.dx-lov-container {
  position: relative;
}
.dx-lov-container .dx-lov-button-container {
  position: absolute;
  left: 2px;
  top: 0px;
}
.dx-lov-container .dx-lov-button-container button {
  color: #eee;
  background: none;
  display: block;
  line-height: 24px;
  height: 32px;
  width: 32px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dx-lov-container .dx-lov-button-container button:hover {
  background: #2a2a2a;
}
@media (min-width: 992px) {
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 10px 12px 10px 10px !important;
  }
}
li.nav-item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dx-datebox {
  width: 100% !important;
}
.dx-texteditor-input {
  padding: 0 10px !important;
}
.dx-overlay-wrapper input, .dx-overlay-wrapper textarea {
  font-family: IRANSans !important;
}
.page-container .page-content {
  background: #2a2a2a !important;
  z-index: 0;
}
.left-menu {
  margin: 3px 0;
}
li.dx-menu-item-wrapper {
  float: right;
}
.breadcrumb {
  background: transparent !important;
}
.breadcrumb li, .breadcrumb li a {
  display: inline !important;
}
.dx-menu-base > .dx-menu-item-wrapper {
  margin: 2px !important;
  border-radius: 4px;
  box-shadow: 0 1px 3px transparent;
  border-width: 1px;
  border-style: solid;
  background-color: #4d4d4d !important;
  border-color: rgb(138, 138, 138) !important;
  color: #eee !important;
}
.page-toolbar .dx-menu-horizontal .dx-menu-items-container .dx-menu-item-wrapper {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
.page-toolbar .dx-menu-horizontal .dx-menu-items-container .dx-menu-item-wrapper .dx-menu-item {
  padding: 3px;
  border-radius: 4px !important;
  box-shadow: 0 1px 3px transparent !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: #4d4d4d !important;
  border-color: rgb(138, 138, 138) !important;
  color: #eee !important;
}
.page-toolbar .dx-menu-horizontal .dx-menu-items-container .dx-menu-item-wrapper .dx-menu-item.dx-state-hover {
  background-color: #5c5c5c !important;
  border-color: rgb(192, 192, 192) !important;
  color: #fff !important;
}
.grid-toolbar .dx-menu-horizontal .dx-menu-items-container .dx-menu-item-wrapper {
  margin-left: 2px !important;
  margin-right: 2px !important;
  text-align: center;
}
.grid-toolbar .dx-menu-horizontal .dx-menu-items-container .dx-menu-item-wrapper .dx-menu-item {
  padding: 0px;
  border-radius: 4px !important;
  box-shadow: 0 1px 3px transparent !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.grid-toolbar .dx-menu-horizontal .dx-menu-items-container .dx-menu-item-wrapper .dx-menu-item .dx-menu-item-content {
  background: transparent !important;
  padding: 0px !important;
}
.grid-toolbar .dx-menu-horizontal .dx-menu-items-container .dx-menu-item-wrapper .dx-menu-item.dx-state-hover {
  background-color: transparent !important;
  border-color: transparent !important;
}
.dx-toolbar.dx-widget.dx-rtl.dx-visibility-change-handler.dx-collection.dx-popup-bottom.dx-dialog-buttons {
  background: transparent !important;
}
.dx-toolbar-label > div {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.dx-popup-title .dx-closebutton:hover {
  background: rgba(0, 0, 0, 0.4);
  border: none;
}
.dx-tab.dx-tab-selected {
  background-color: #2196f3;
  color: #fff;
}
.dx-tab-selected .dx-icon {
  color: #fff;
}
.tabContent {
  margin: 20px 0 0 0;
  padding: 15px;
}
.dx-item-content i.fa-plus {
  color: #4caf50;
}
.dx-item-content i.fa-edit {
  color: #ffc107;
}
.dx-item-content i.fa-trash {
  color: #f44336;
}
.dx-item-content i.fa-refresh {
  color: #2196f3;
}
.dx-template-wrapper hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.dx-template-wrapper .dx-datagrid-checkbox-size .dx-checkbox-icon {
  margin: 0px 0 0 0 !important;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  margin-left: 0px !important;
}
.dx-overlay-shader {
  background-color:rgba(10, 10, 10, 0.8) !important;
}
.page-top-toolbar {
  margin: 4px 10px;
}
.dx-popup-content .top-toolbar {
  padding-left: 0 !important;
}
.dx-popup-wrapper > .dx-overlay-content {
  border: none !important;
}
.dx-item-content {
  font-family: IRANSans;
}
.form-title {
  width: 100%;
  height: 40px;
  margin: 0 10px 15px 10px;
  line-height: 40px;
  border-bottom: 1px solid #b6b6b6;
  font-size: 15px;
}
.dx-widget input, .dx-widget textarea {
  font-family: IRANSans !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(255, 255, 255, 0.65) !important;
}
.dx-overlay-content.dx-popup-normal.dx-rtl.dx-popup-draggable.dx-resizable {
  left: 10px !important;
}
.dx-lov-container .dx-rtl .dx-texteditor-buttons-container {
  left: 30px !important;
}
@media screen and (min-device-width: 1024px) {
  .home-page .system-card h1 {
    float: right;
    margin: 0 0 0 0;
    font-size: 13px;
    color: #fff;
    line-height: 95px;
    text-indent: 10px;
  }
}
.dx-rtl .dx-colorbox.dx-dropdowneditor .dx-colorbox-input.dx-texteditor-input, .dx-rtl.dx-colorbox.dx-dropdowneditor .dx-colorbox-input.dx-texteditor-input {
  margin-right: 41px !important;
}
.dx-overlay-content.dx-rtl.dx-resizable.dx-context-menu.dx-menu-base li {
  width: 100%;
  display: block;
}
.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell {
  vertical-align: initial !important;
}
hr {
  margin: 0 !important;
}
.dx-button-has-text .dx-button-content {
  padding: 5px 17px !important;
}
/**************** date box -  Ali Safari 2018-10-02  *****************/
.dx-date .input-group-addon {
  -webkit-border-top-right-radius: 0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-radius-topright: 0px !important;
  -moz-border-radius-bottomright: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: none;
  border-top: none;
  border-bottom: none;
  height: 36px;
}
/**************** treelist plus -  Ali Safari 2018-10-02  *****************/
.dx-treelist-rowsview .dx-treelist-collapsed span:before {
  font-family: fontAwesome !important;
  content: "\f067" !important;
  font-size: 14px !important;
  line-height: 23px !important;
}
.dx-treelist-rowsview .dx-treelist-expanded span:before {
  font-family: fontAwesome !important;
  content: "\f068" !important;
  font-size: 14px !important;
  line-height: 23px !important;
}
/**************** Grid Header -  Ali Safari 2018-26-02  *****************/
.dx-datagrid .dx-row > td {
  padding: 0px 5px 0px 0px;
  line-height: 33px;
}
.grid-header-bar-icon {
  position: relative;
  top: 5px;
}
/**************** Scroll Bar -  Ali Safari 2018-26-02  *****************/
.dx-scrollbar-vertical .dx-scrollable-scroll {
  width: 15px !important;
  min-height: 25px !important;
}
.dx-scrollbar-vertical .dx-scrollbar-hoverable {
  width: 15px !important;
  min-height: 25px !important;
}
.dx-scrollbar-horizontal.dx-scrollable-scroll {
  height: 15px !important;
  min-width: 15px !important;
}
.dx-scrollbar-horizontal.dx-scrollbar-hoverable {
  height: 15px !important;
  min-width: 15px !important;
}
.dx-scrollbar-horizontal .dx-scrollable-scroll {
  height: 15px !important;
}
.rak-group-container .rack-item .dx-checkbox.dx-state-hover .dx-checkbox-icon, .rak-group-container .rack-item .dx-checkbox.dx-state-focus .dx-checkbox-icon, .rak-group-container .rack-item .dx-checkbox.dx-state-active .dx-checkbox-icon, .rak-group-container .rack-item .dx-checkbox.dx-state-focused .dx-checkbox-icon {
  border: 1px solid #2196f3;
}
.information-bar ul.color-help-list li {
  width: 4rem;
}
/* Ali Safari - Fix Selected Color Tree View */
.dx-treeview-node.dx-treeview-item-with-checkbox.dx-treeview-node-is-leaf.dx-state-focuse {
  background: #f00;
}
/* Ali Safari - Fix Upload Button */
.file-ul-button[_ngcontent-c5] {
  display: inline-block !important;
  padding: 5px 10px 5px 60px !important;
}
.file-ul-file-upload[_ngcontent-c5] {
  padding: 0px 16px !important;
}
/* Ali Safari - Fix Tree List Row Padding */
.dx-treelist .dx-row > td {
  padding: 0 5px !important;
}
/* Ali Safari - Popup Component Padding */
.dms-popup .dx-popup-content {
  padding: 10px 10px 10px 10px;
}
.dms-popup .dx-popup-content .dx-menu-horizontal {
  margin: 5px 0 0 0;
}
.dms-popup .dx-popup-content .dx-menu-horizontal .dx-item-content.dx-menu-item-content {
  padding: 7px !important;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 1px 3px transparent !important;
  box-shadow: 0 1px 3px transparent !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: #2a2a2a !important;
  border-color: rgb(80, 80, 80) !important;
  color: #fff !important;
}
.dms-popup .dx-popup-content .dx-menu-horizontal .dx-menu-horizontal .dx-menu-item-wrapper {
  margin: 0 5px;
}
.header-popup .dx-menu-horizontal .dx-menu-items-container .dx-menu-item-wrapper {
  margin: 0 0 0 10px !important;
}
.dx-texteditor.dx-state-focused {
  border: 1px solid #2196f3 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.dms-popup .dx-popup-content .dx-menu-horizontal .dx-item-content.dx-menu-item-content {
  border-width: 0 !important;
}
/* Ali Safari - Popup Component Padding */
.dx-toolbar.dx-widget.dx-rtl.dx-visibility-change-handler.dx-collection {
  font-family: IRANSans;
  background: #2196f3 !important;
  border-bottom: 0px !important;
  margin: 0 !important;
  padding: 3px 10px !important;
  border: 0 !important;
  border-bottom: 0 !important;
  color: #fff !important;
  margin-bottom: 0 !important;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dx-treeview.dx-treeview-with-search > .dx-scrollable {
  border: 1px solid #b6b6b6;
}
dx-select-box.dx-texteditor.dx-texteditor-empty.dx-dropdowneditor-button-visible.dx-state-readonly.dx-widget.dx-rtl.dx-textbox.dx-dropdowneditor-field-clickable.dx-dropdowneditor.dx-selectbox.dx-validator.dx-visibility-change-handler input {
  background: #2a2a2a;
  color: #fff !important;
}
.dx-popup-bottom.dx-toolbar .dx-toolbar-items-container {
  padding: 0 40px !important;
  margin-bottom: 10px !important;
}
.dx-ltr .dx-texteditor-input {
  text-align: left;
  direction: ltr;
}
.dx-tabs {
  border: none;
}
.dx-tab {
  background-color: #cecece;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 2px;
  border: none;
}
.dx-tab-selected:after {
  border: none;
}
/* File Upload */
.img-ul {
  --active-color: #3c9;
  --common-radius: 3px;
  background-color: #f8f8f8;
  background-image: url("../img/addimage.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--common-radius);
  border: #d0d0d0 dashed 1px;
  font-family: sans-serif;
  position: relative;
  color: #9b9b9b;
  min-height: 220px;
}
.img-ul-button {
  display: block !important;
  float: inherit !important;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0 !important;
  border-radius: 50%;
  margin: auto;
}
.img-ul-file-upload {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 72px;
  z-index: 1;
}
.img-ul-image {
  background: center center no-repeat;
  background-size: 100%;
  display: inline-block;
  float: left;
  position: relative;
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
.img-ul-close, .img-ul-x-mark {
  display: none;
}
.img-ul-close:before, .img-ul-close:after {
  top: 2px !important;
  width: 2px;
  right: -2px;
}
image-upload {
  width: 15.91rem;
  height: 15.9rem;
}
image-upload .img-ul {
  height: inherit;
  width: inherit;
}
image-upload .img-ul-container {
  padding: 0 !important;
  background-color: #fdfdfd;
  padding: 0 10px;
  height: inherit;
  width: inherit;
}
.dx-menu .dx-menu-horizontal .dx-menu-item-popout:before {
  display: none;
}
.dx-overlay-wrapper.popup.dx-popup-wrapper.dx-overlay-modal.dx-overlay-shader {
  z-index: 1 !important;
}
.dx-datagrid-filter-row .dx-texteditor-input {
  background-color: #444 !important;
}
span.dx-labelbox-span {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.dx-tab {
  border-radius: 0 !important;
}
.dx-item.dx-tab.dx-state-hover {
  background: #9e9e9e;
}
.pointer {
  cursor: pointer;
}

/*------------------Saeed.Boroomand----------------------*/
.master-layout .master-content, .master-layout .master-content .page-content-wrap .page-toolbar,
.page-content-wrap {
  background-color: #424648 !important;
}
.master-layout .master-content .page-content-wrap .page-content{
  padding: 25px 10px 0 10px !important;
}
.dx-menu-base.dx-rtl .dx-menu-item-content .dx-menu-item-popout-container .dx-menu-item-popout{
  display: none !important;
}
.master-layout .footer{
  background: #2c373e !important;
  color: #eee !important;
}
.dx-lov-button-container {
  background-color: #444!important;
}
.dx-popup-wrapper > .dx-overlay-content{background: #434648!important;}
.dx-popup-content .dx-dialog-message {
  color: #f5f5f5;
}
.login-container .login-box{  
    background: rgba(67, 70, 72, 0.7) !important;
    min-height: 286px !important;
  }
.login-form a {
  color: #fff;
}
table .dx-menu .dx-menu-item .dx-menu-item-content > i {
  color: #fff !important;
}
.loading-overlay{    background-color: rgba(40, 42, 43, 0.75);}
.loading-overlay .loading > div {
  color: #fff;
}
.dx-popup-content {
  padding: 30px 15px !important;
}
.dx-popup-content .footer-popup{
  background: transparent !important;
    padding: 4px 9px 10px 0 !important;
border: 0px !important;
bottom: -20px !important;
}
.dx-overlay-content.dx-popup-normal.dx-rtl.dx-popup-draggable.dx-resizable
{
  height: 300px ;
}



/*--------------------AX-Control.sass------------------*/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+21,ffffff+100&1+50,0+100 */
.ax-texteditor-container {
  position: relative !important;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(192, 192, 192, 0.12), 0 3px 6px rgba(238, 238, 238, 0);
}
.ax-texteditor-container .ax-texteditor-label {
  padding: 0px 10px !important;
  color: #fff !important;
  white-space: nowrap !important;
  font-size: 12px !important;
  z-index: 1 !important;
  position: absolute !important;
  top: -16px !important;
  right: 5px;
  background: transparent !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.ax-texteditor-container.focus .ax-texteditor-label {
  color: #2196f3 !important;
}
.ax-texteditor-container.focus .dx-texteditor {
  border: 1px solid #2196f3 !important;
}
.dx-toolbar.dx-widget.dx-rtl.dx-visibility-change-handler.dx-collection {
  background: #2a2a2a;
  border-bottom: 0px;
  margin: 10px 0 0 0;
  padding: 3px 10px;
  border: 1px solid #fff;
  border-bottom: 0;
  /* border-style: solid; */
}
.dx-toolbar.dx-widget.dx-rtl.dx-visibility-change-handler.dx-collection input {
  min-height: 26px !important;
  line-height: 26px;
  text-align: center;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  padding: 0px 10px;
}
.ax-datagrid-caption {
  color: #2a2a2a;
  font-size: 14px;
  font-weight: 400;
}
.ax-datagrid-caption .fa {
  vertical-align: sub;
}
.ax-radiogroup-container {
  position: relative !important;
  margin-bottom: 10px;
  border: 1px solid rgb(78, 78, 78);
  padding: 7px 10px;
}
.ax-radiogroup-container .ax-radiogroup-label {
  padding: 0px 10px !important;
  color: #fff !important;
  white-space: nowrap !important;
  font-size: 12px !important;
  z-index: 1 !important;
  position: absolute !important;
  top: -10px !important;
  right: 5px;
  background: -moz-linear-gradient(top, #2a2a2a 40%, #2a2a2a 50%, rgba(104, 104, 104, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,#2a2a2a 40%, #2a2a2a 50%, rgba(104, 104, 104, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,#2a2a2a 40%, #2a2a2a 50%, rgba(104, 104, 104, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0);
  /* IE6-9 */
}
