<page>
  <page-toolbar helpUrl="http://google.com"
                showHelp="false"
                [items]="menuItems"
                (onItemClick)="onMenuItemClick($event)">
  </page-toolbar>
  <page-content>
    <dx-validation-group #form>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <dx-label text="{{'WRHS_CODE'| translate}}">
            <dx-lov [(value)]="searchItem.WarehouseID"
                    [(text)]="searchItem.WarehouseDescription"
                    (dataChange)="warehouseChanged($event)"
                    formCode="LOV-WAM-156"
                    selectionMode = "multiple"
                    [allowClear]="true"
                    required="true"></dx-lov>
          </dx-label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <dx-label text="{{'PUB_DAT_FROM'| translate}}">
            <dx-date [(value)]="searchItem.DateFrom">
            </dx-date>
          </dx-label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <dx-label text="{{'PUB_DAT_END'| translate}}">
            <dx-date [(value)]="searchItem.DateTo"
                     [showToday]="true">
            </dx-date>
          </dx-label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <dx-label text="{{'ITEMCODE'| translate}}">
            <dx-lov [(value)]="searchItem.ItemId"
                    [(text)]="searchItem.ItemCode"
                    (dataChange)="SupplierChanged($event)"
                    [allowClear]="true"
                    formCode="LOV-WAM-101">
            </dx-lov>
          </dx-label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <dx-label text="{{'ITEM_ITGR'| translate}}">
            <dx-lov [(value)]="searchItem.ItemGroupId"
                    [(text)]="searchItem.GroupDescription"
                    formCode="LOV-WAM-032"
                    [allowClear]="true"
                    [readOnly]="readonly"
                    (dataChange)="groupChanged($event)">
            </dx-lov>
          </dx-label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <dx-label text="بر اساس">
            <dx-lov [(value)]="searchItem.BaseMeasurementUnit"
                    formCode="LOV-WAM-049"
                    [displayMode]="'ComboBox'"
                    required="false"></dx-lov>
          </dx-label>
        </div>
        <!--<div class="col-sm-3 col-xs-12">
          <dx-label text="گزارش روی">
            <dx-lov [(value)]="searchItem.ReportTypeWarehouse"
                    formCode="LOV-WAM-100"
                    [allowClear]="true"
                    [displayMode]="'ComboBox'"
                    required="false"></dx-lov>
          </dx-label>
        </div>-->
        <div class="col-sm-3 col-xs-12">
          <dx-button text="{{'PUB_QUERY'| translate}}" type="success" (onClick)="loadData()"></dx-button>
        </div>
      </div>
    </dx-validation-group>
    <div class="row">
      <div class="col-sm-12">
        <div class="margin-20"></div>
        <grid-toolbar (onMenuItemClick)="onCardexMenuItemClick($event)"
                      [rowMenuItems]="gridItems"
                      (onRowDbClick)="onInventoryClick($event)">
          <dx-data-grid #gridContainer
                        keyExpr="ID"
                        [dataSource]="dataSource"
                        [(selectedRowKeys)]="itemSelectedKeys"
                        (onSelectionChanged)="selectionChangedHandler()"
                        [height]="400">
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false"></dxo-editing>
            <dxi-column dataField="ItemCode" caption="{{'ITEMCODE'| translate}}"></dxi-column>
            <dxi-column dataField="ItemDescription" caption="{{'WAM_ITEMDES'| translate}}"></dxi-column>
            <dxi-column dataField="MeasurementUnit" caption="{{'PUB_UNIT'| translate}}" [visible]="!flgMesurementType"></dxi-column>
            <dxi-column dataField="CommercialMeasurementUnit" caption="{{'PUB_UNIT'| translate}}" [visible]="flgMesurementType"></dxi-column>
            <dxi-column dataField="FirstInventory" caption="{{'FIRSTINVENTORY'| translate}}" [visible]="!flgMesurementType"></dxi-column>
            <dxi-column dataField="CommercialFirstInventory" caption="{{'FIRSTINVENTORY'| translate}}" [visible]="flgMesurementType"></dxi-column>
            <dxi-column dataField="TransactionQuantityIn"  caption="{{'TRANSACTIONQUANTITYIN'| translate}}"  [visible]="!flgMesurementType"></dxi-column>
            <dxi-column dataField="CommercialTransactionQuantityIn" caption="{{'TRANSACTIONQUANTITYIN'| translate}}" [visible]="flgMesurementType"></dxi-column>
            <dxi-column dataField="TransactionQuantityOut" caption="{{'TRANSACTIONQUANTITYOUT'| translate}}" [visible]="!flgMesurementType"></dxi-column>
            <dxi-column dataField="CommercialTransactionQuantityOut" caption="{{'TRANSACTIONQUANTITYOUT'| translate}}" [visible]="flgMesurementType"></dxi-column>
            <dxi-column dataField="Inentory" caption="{{'WAM_INVENTORY'| translate}}" [visible]="!flgMesurementType"></dxi-column>
            <dxi-column dataField="CommerciaInentory" caption="{{'WAM_INVENTORY'| translate}}" [visible]="flgMesurementType"></dxi-column>
          </dx-data-grid>
        </grid-toolbar>
      </div>
    </div>
  </page-content>
</page>
